# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.spyderproject
.spyproject
.ropeproject

# Operating System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# Docker
.docker/

# Configuration
*.env
.env

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Database
*.sqlite3
*.db

# Ministream specific
configs/*
!configs/example_config.yaml

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Node.js (if you decide to use it for the GUI in the future)
node_modules/
npm-debug.log
yarn-error.log

# Ignore all .yaml files in the root directory except docker-compose.yaml
/*.yaml
!docker-compose.yaml

# Ignore all files in the root directory starting with .env
/.env*
